node-red/flows.json
[{"id":"2aa30af9.acd876","type":"tab","label":"Lights","disabled":false,"info":""},{"id":"36ed18ec.ded2a8","type":"server","z":"","name":"Home Assistant"},{"id":"eba5ccfe.2cfa3","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"88de70f9.e423d","type":"api-call-service","z":"2aa30af9.acd876","name":"Turn ON (bright)","server":"36ed18ec.ded2a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bathroom_lights","data":"{\"transition\":1,\"brightness\":254,\"color_temp\":157}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":840,"y":60,"wires":[["6d8d869d.a866b8"]]},{"id":"6bd9bbee.6cce64","type":"api-call-service","z":"2aa30af9.acd876","name":"Turn OFF","server":"36ed18ec.ded2a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.bathroom_lights","data":"{\"transition\":1}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":560,"y":320,"wires":[["7428c654.9c66f8"]]},{"id":"33f82e33.7b99d2","type":"server-state-changed","z":"2aa30af9.acd876","name":"Bathroom Sensor","server":"36ed18ec.ded2a8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.philips_bathroom_occupancy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":100,"wires":[["76c57f2d.91d31","87457096.06df8","49b21d60.0ef2e4"],["49b21d60.0ef2e4"]]},{"id":"76c57f2d.91d31","type":"time-range-switch","z":"2aa30af9.acd876","name":"Sunrise to Sunset","lat":"33.172027587890625","lon":"-117.22586281094274","startTime":"sunrise","endTime":"sunset","startOffset":0,"endOffset":0,"x":410,"y":60,"wires":[["e889a2f6.01c1d"],[]]},{"id":"e889a2f6.01c1d","type":"api-current-state","z":"2aa30af9.acd876","name":"are the lights off?","server":"36ed18ec.ded2a8","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.bathroom_lights","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":630,"y":60,"wires":[["88de70f9.e423d"],[]]},{"id":"b5bc6a9a.762af8","type":"api-call-service","z":"2aa30af9.acd876","name":"Turn ON (warm)","server":"36ed18ec.ded2a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bathroom_lights","data":"{\"transition\":1,\"brightness\":104,\"color_temp\":500}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":840,"y":120,"wires":[["e611161d.5c0858"]]},{"id":"87457096.06df8","type":"time-range-switch","z":"2aa30af9.acd876","name":"Sunet to 10PM","lat":"33.172027587890625","lon":"-117.22586281094274","startTime":"sunset","endTime":"22:00:00","startOffset":0,"endOffset":0,"x":400,"y":120,"wires":[["89fde2ed.8308b"],[]]},{"id":"89fde2ed.8308b","type":"api-current-state","z":"2aa30af9.acd876","name":"are the lights off?","server":"36ed18ec.ded2a8","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.bathroom_lights","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":630,"y":120,"wires":[["b5bc6a9a.762af8"],[]]},{"id":"49b21d60.0ef2e4","type":"trigger","z":"2aa30af9.acd876","op1":"","op2":"off","op1type":"nul","op2type":"str","duration":"15","extend":false,"units":"s","reset":"on","bytopic":"all","name":"wait 15s","x":380,"y":320,"wires":[["6bd9bbee.6cce64"]]},{"id":"d50e8602.d61528","type":"comment","z":"2aa30af9.acd876","name":"OFF from 10PM to sunrise","info":"","x":430,"y":180,"wires":[]},{"id":"735b9a84.079244","type":"api-call-service","z":"2aa30af9.acd876","name":"Turn ON (bright)","server":"36ed18ec.ded2a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.sengled_lightstrip","data":"{\"brightness\":254,\"color_temp\":157}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":840,"y":480,"wires":[["9d011291.13cb4"]]},{"id":"9e6ff10b.a393b","type":"api-call-service","z":"2aa30af9.acd876","name":"Turn OFF","server":"36ed18ec.ded2a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.sengled_lightstrip","data":"{\"transition\":1}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":560,"y":740,"wires":[["53cef56e.59957c"]]},{"id":"4319595d.176f78","type":"server-state-changed","z":"2aa30af9.acd876","name":"Kitchen Sensor","server":"36ed18ec.ded2a8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.philips_sensor2_occupancy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":520,"wires":[["7e105747.4f1318","57195c6b.da8064","109a5d59.6d5823"],["109a5d59.6d5823"]]},{"id":"7e105747.4f1318","type":"time-range-switch","z":"2aa30af9.acd876","name":"Sunset to 9PM","lat":"33.172027587890625","lon":"-117.22586281094274","startTime":"sunset","endTime":"21:00:00","startOffset":0,"endOffset":0,"x":400,"y":480,"wires":[["d3142fdc.676a8"],[]]},{"id":"d3142fdc.676a8","type":"api-current-state","z":"2aa30af9.acd876","name":"are the lights off?","server":"36ed18ec.ded2a8","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.sengled_lightstrip","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":630,"y":480,"wires":[["735b9a84.079244"],[]]},{"id":"b1958e39.71aa9","type":"api-call-service","z":"2aa30af9.acd876","name":"Turn ON (red)","server":"36ed18ec.ded2a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.sengled_lightstrip","data":"{\"brightness_pct\":40,\"rgb_color\":[255,0,0]}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":540,"wires":[["f4dd0654.f02c48"]]},{"id":"57195c6b.da8064","type":"time-range-switch","z":"2aa30af9.acd876","name":"9PM to sunrise","lat":"33.172027587890625","lon":"-117.22586281094274","startTime":"21:00:00","endTime":"sunrise","startOffset":0,"endOffset":0,"x":400,"y":540,"wires":[["ebbda61a.765088"],[]]},{"id":"ebbda61a.765088","type":"api-current-state","z":"2aa30af9.acd876","name":"are the lights off?","server":"36ed18ec.ded2a8","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.sengled_lightstrip","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":630,"y":540,"wires":[["b1958e39.71aa9"],[]]},{"id":"109a5d59.6d5823","type":"trigger","z":"2aa30af9.acd876","op1":"","op2":"off","op1type":"nul","op2type":"str","duration":"60","extend":false,"units":"s","reset":"on","bytopic":"all","name":"wait 60s","x":380,"y":740,"wires":[["9e6ff10b.a393b"]]},{"id":"d627c65a.2a5948","type":"comment","z":"2aa30af9.acd876","name":"OFF during the day","info":"","x":410,"y":600,"wires":[]},{"id":"6d8d869d.a866b8","type":"debug","z":"2aa30af9.acd876","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1050,"y":60,"wires":[]},{"id":"e611161d.5c0858","type":"debug","z":"2aa30af9.acd876","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1050,"y":120,"wires":[]},{"id":"9d011291.13cb4","type":"debug","z":"2aa30af9.acd876","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1030,"y":480,"wires":[]},{"id":"f4dd0654.f02c48","type":"debug","z":"2aa30af9.acd876","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1030,"y":540,"wires":[]},{"id":"7428c654.9c66f8","type":"debug","z":"2aa30af9.acd876","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":320,"wires":[]},{"id":"53cef56e.59957c","type":"debug","z":"2aa30af9.acd876","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":740,"wires":[]},{"id":"251bb053.e2bde","type":"server-state-changed","z":"2aa30af9.acd876","name":"Front Door Unlocks","server":"36ed18ec.ded2a8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"lock.front_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"locked","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":920,"wires":[["30fe724.eb8538e"],[]]},{"id":"93619519.c09008","type":"api-call-service","z":"2aa30af9.acd876","name":"Send phone notification","server":"36ed18ec.ded2a8","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_slyphone","entityId":"","data":"{\"message\":\"Front door got unlocked!!!\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":630,"y":880,"wires":[["2864febe.652e82"]]},{"id":"41dbf689.9d18d8","type":"api-call-service","z":"2aa30af9.acd876","name":"","server":"36ed18ec.ded2a8","version":1,"debugenabled":false,"service_domain":"script","service":"turn_on","entityId":"script.door_open_flash_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":610,"y":940,"wires":[["3638aeea.b83352"]]},{"id":"30fe724.eb8538e","type":"change","z":"2aa30af9.acd876","name":"locked to unlocked","rules":[{"t":"set","p":"payload","pt":"msg","to":"unlocked","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":1020,"wires":[["93619519.c09008","41dbf689.9d18d8","c112cba6.b26df8","88c416f2.e8bd68"]]},{"id":"2864febe.652e82","type":"debug","z":"2aa30af9.acd876","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":900,"y":880,"wires":[]},{"id":"3638aeea.b83352","type":"debug","z":"2aa30af9.acd876","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":940,"wires":[]},{"id":"c112cba6.b26df8","type":"api-current-state","z":"2aa30af9.acd876","name":"is someone in the Kitchen?","server":"36ed18ec.ded2a8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.philips_sensor2_occupancy","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":620,"y":1120,"wires":[["ca7eb75f.080558","46497024.a46d8"],[]]},{"id":"ca7eb75f.080558","type":"api-call-service","z":"2aa30af9.acd876","name":"toggle kitchen lights","server":"36ed18ec.ded2a8","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.sengled_lightstrip","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":600,"y":1180,"wires":[["29128c7b.2d2f94"]]},{"id":"29128c7b.2d2f94","type":"delay","z":"2aa30af9.acd876","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":1180,"wires":[["6ac46ba5.1c07f4"]]},{"id":"6ac46ba5.1c07f4","type":"api-call-service","z":"2aa30af9.acd876","name":"toggle kitchen lights","server":"36ed18ec.ded2a8","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.sengled_lightstrip","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":600,"y":1240,"wires":[["71f0553f.e25c6c"]]},{"id":"71f0553f.e25c6c","type":"delay","z":"2aa30af9.acd876","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":1240,"wires":[["75271eb4.4f2de"]]},{"id":"75271eb4.4f2de","type":"api-call-service","z":"2aa30af9.acd876","name":"toggle kitchen lights","server":"36ed18ec.ded2a8","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.sengled_lightstrip","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":600,"y":1300,"wires":[["3a96ecd0.f71814"]]},{"id":"3a96ecd0.f71814","type":"delay","z":"2aa30af9.acd876","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":1300,"wires":[["a2da5f51.d7724"]]},{"id":"a2da5f51.d7724","type":"api-call-service","z":"2aa30af9.acd876","name":"toggle kitchen lights","server":"36ed18ec.ded2a8","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.sengled_lightstrip","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":980,"y":1300,"wires":[["c72f4dea.75658"]]},{"id":"88c416f2.e8bd68","type":"api-current-state","z":"2aa30af9.acd876","name":"is someone in the bathroom?","server":"36ed18ec.ded2a8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.philips_bathroom_occupancy","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":620,"y":1440,"wires":[["1e3896b8.425a79","76c9c74f.9544b8"],[]]},{"id":"1e3896b8.425a79","type":"api-call-service","z":"2aa30af9.acd876","name":"toggle bathroom lights","server":"36ed18ec.ded2a8","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.bathroom_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":600,"y":1500,"wires":[["581f5f9e.6f09e"]]},{"id":"581f5f9e.6f09e","type":"delay","z":"2aa30af9.acd876","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":1500,"wires":[["d5a09727.395978"]]},{"id":"d5a09727.395978","type":"api-call-service","z":"2aa30af9.acd876","name":"toggle bathroom lights","server":"36ed18ec.ded2a8","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.bathroom_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":600,"y":1560,"wires":[["f94e105.4749bf"]]},{"id":"f94e105.4749bf","type":"delay","z":"2aa30af9.acd876","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":1560,"wires":[["2f0cdbeb.4274c4"]]},{"id":"2f0cdbeb.4274c4","type":"api-call-service","z":"2aa30af9.acd876","name":"toggle bathroom lights","server":"36ed18ec.ded2a8","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.bathroom_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":600,"y":1620,"wires":[["3698b42c.caa44c"]]},{"id":"3698b42c.caa44c","type":"delay","z":"2aa30af9.acd876","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":1620,"wires":[["cddd6ba8.c433e8"]]},{"id":"cddd6ba8.c433e8","type":"api-call-service","z":"2aa30af9.acd876","name":"toggle bathroom lights","server":"36ed18ec.ded2a8","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.bathroom_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":980,"y":1620,"wires":[["c0bad83d.049308"]]},{"id":"c72f4dea.75658","type":"debug","z":"2aa30af9.acd876","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":1360,"wires":[]},{"id":"c0bad83d.049308","type":"debug","z":"2aa30af9.acd876","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":1680,"wires":[]},{"id":"46497024.a46d8","type":"debug","z":"2aa30af9.acd876","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":1100,"wires":[]},{"id":"76c9c74f.9544b8","type":"debug","z":"2aa30af9.acd876","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":1400,"wires":[]}]