node-red/flows.json
[{"id":"2aa30af9.acd876","type":"tab","label":"Motion Activated Lights","disabled":false,"info":""},{"id":"978f71ec.849e9","type":"tab","label":"August Lock","disabled":false,"info":""},{"id":"eca88c98.19685","type":"tab","label":"Time-Based Automations","disabled":false,"info":""},{"id":"36ed18ec.ded2a8","type":"server","z":"","name":"Home Assistant"},{"id":"eba5ccfe.2cfa3","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"88de70f9.e423d","type":"api-call-service","z":"2aa30af9.acd876","name":"Turn ON (bright)","server":"36ed18ec.ded2a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bathroom_lights","data":"{\"transition\":1,\"brightness\":254,\"color_temp\":157}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":840,"y":60,"wires":[["6d8d869d.a866b8"]]},{"id":"6bd9bbee.6cce64","type":"api-call-service","z":"2aa30af9.acd876","name":"Turn OFF","server":"36ed18ec.ded2a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.bathroom_lights","data":"{\"transition\":1}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":560,"y":270,"wires":[["6d8d869d.a866b8"]]},{"id":"33f82e33.7b99d2","type":"server-state-changed","z":"2aa30af9.acd876","name":"Bathroom Sensor","server":"36ed18ec.ded2a8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.philips_bathroom_occupancy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":100,"wires":[["76c57f2d.91d31","87457096.06df8","49b21d60.0ef2e4"],["49b21d60.0ef2e4"]]},{"id":"76c57f2d.91d31","type":"time-range-switch","z":"2aa30af9.acd876","name":"Sunrise to Sunset","lat":"33.172027587890625","lon":"-117.22586281094274","startTime":"sunrise","endTime":"sunset","startOffset":0,"endOffset":0,"x":410,"y":60,"wires":[["e889a2f6.01c1d"],[]]},{"id":"e889a2f6.01c1d","type":"api-current-state","z":"2aa30af9.acd876","name":"are the lights off?","server":"36ed18ec.ded2a8","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.bathroom_lights","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":630,"y":60,"wires":[["88de70f9.e423d"],[]]},{"id":"b5bc6a9a.762af8","type":"api-call-service","z":"2aa30af9.acd876","name":"Turn ON (warm)","server":"36ed18ec.ded2a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bathroom_lights","data":"{\"transition\":1,\"brightness\":104,\"color_temp\":500}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":840,"y":120,"wires":[["6d8d869d.a866b8"]]},{"id":"87457096.06df8","type":"time-range-switch","z":"2aa30af9.acd876","name":"Sunet to 10PM","lat":"33.172027587890625","lon":"-117.22586281094274","startTime":"sunset","endTime":"22:00:00","startOffset":0,"endOffset":0,"x":400,"y":120,"wires":[["89fde2ed.8308b"],[]]},{"id":"89fde2ed.8308b","type":"api-current-state","z":"2aa30af9.acd876","name":"are the lights off?","server":"36ed18ec.ded2a8","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.bathroom_lights","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":630,"y":120,"wires":[["b5bc6a9a.762af8"],[]]},{"id":"49b21d60.0ef2e4","type":"trigger","z":"2aa30af9.acd876","op1":"","op2":"off","op1type":"nul","op2type":"str","duration":"15","extend":false,"units":"s","reset":"on","bytopic":"all","name":"wait 15s","x":380,"y":270,"wires":[["6bd9bbee.6cce64"]]},{"id":"d50e8602.d61528","type":"comment","z":"2aa30af9.acd876","name":"OFF from 10PM to sunrise","info":"","x":430,"y":180,"wires":[]},{"id":"735b9a84.079244","type":"api-call-service","z":"2aa30af9.acd876","name":"Turn ON (bright)","server":"36ed18ec.ded2a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.sengled_lightstrip","data":"{\"brightness\":254,\"color_temp\":157,\"transition\":1}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":840,"y":480,"wires":[["9d011291.13cb4"]]},{"id":"9e6ff10b.a393b","type":"api-call-service","z":"2aa30af9.acd876","name":"Turn OFF","server":"36ed18ec.ded2a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.sengled_lightstrip","data":"{\"transition\":1}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":560,"y":690,"wires":[["9d011291.13cb4"]]},{"id":"4319595d.176f78","type":"server-state-changed","z":"2aa30af9.acd876","name":"Kitchen Sensor","server":"36ed18ec.ded2a8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.philips_sensor2_occupancy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":520,"wires":[["7e105747.4f1318","57195c6b.da8064","109a5d59.6d5823"],["109a5d59.6d5823"]]},{"id":"7e105747.4f1318","type":"time-range-switch","z":"2aa30af9.acd876","name":"Sunset to 9PM","lat":"33.172027587890625","lon":"-117.22586281094274","startTime":"sunset","endTime":"21:00:00","startOffset":0,"endOffset":0,"x":400,"y":480,"wires":[["d3142fdc.676a8"],[]]},{"id":"d3142fdc.676a8","type":"api-current-state","z":"2aa30af9.acd876","name":"are the lights off?","server":"36ed18ec.ded2a8","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.sengled_lightstrip","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":630,"y":480,"wires":[["735b9a84.079244"],[]]},{"id":"b1958e39.71aa9","type":"api-call-service","z":"2aa30af9.acd876","name":"Turn ON (red)","server":"36ed18ec.ded2a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.sengled_lightstrip","data":"{\"transition\":1,\"rgb_color\":[255,0,0]}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":540,"wires":[["9d011291.13cb4"]]},{"id":"57195c6b.da8064","type":"time-range-switch","z":"2aa30af9.acd876","name":"9PM to sunrise","lat":"33.172027587890625","lon":"-117.22586281094274","startTime":"21:00:00","endTime":"sunrise","startOffset":0,"endOffset":0,"x":400,"y":540,"wires":[["ebbda61a.765088"],[]]},{"id":"ebbda61a.765088","type":"api-current-state","z":"2aa30af9.acd876","name":"are the lights off?","server":"36ed18ec.ded2a8","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.sengled_lightstrip","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":630,"y":540,"wires":[["b1958e39.71aa9"],[]]},{"id":"109a5d59.6d5823","type":"trigger","z":"2aa30af9.acd876","op1":"","op2":"off","op1type":"nul","op2type":"str","duration":"60","extend":false,"units":"s","reset":"on","bytopic":"all","name":"wait 60s","x":380,"y":690,"wires":[["9e6ff10b.a393b"]]},{"id":"d627c65a.2a5948","type":"comment","z":"2aa30af9.acd876","name":"OFF during the day","info":"","x":410,"y":600,"wires":[]},{"id":"6d8d869d.a866b8","type":"debug","z":"2aa30af9.acd876","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1130,"y":130,"wires":[]},{"id":"9d011291.13cb4","type":"debug","z":"2aa30af9.acd876","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1140,"y":590,"wires":[]},{"id":"c5d18eb8.60373","type":"server-state-changed","z":"978f71ec.849e9","name":"Front Door Unlocks","server":"36ed18ec.ded2a8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"lock.front_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"locked","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":370,"wires":[["b9557dec.e7c6"],[]]},{"id":"fa324896.6c3548","type":"api-call-service","z":"978f71ec.849e9","name":"Send phone notification","server":"36ed18ec.ded2a8","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_slyphone","entityId":"","data":"{\"message\":\"Front door got unlocked!!!\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":690,"y":40,"wires":[["d1578bd0.65d758"]]},{"id":"b9557dec.e7c6","type":"change","z":"978f71ec.849e9","name":"locked to unlocked","rules":[{"t":"set","p":"payload","pt":"msg","to":"unlocked","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":370,"wires":[["fa324896.6c3548","105a5651.145eea","c8b5d1ff.f0dca","23662cf9.7c2ca4"]]},{"id":"105a5651.145eea","type":"api-current-state","z":"978f71ec.849e9","name":"is someone in the Kitchen?","server":"36ed18ec.ded2a8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.philips_sensor2_occupancy","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":700,"y":490,"wires":[["7af1d359.c9906c"],[]]},{"id":"7af1d359.c9906c","type":"api-call-service","z":"978f71ec.849e9","name":"toggle kitchen lights","server":"36ed18ec.ded2a8","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.sengled_lightstrip","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":820,"y":570,"wires":[["fc1d472d.71d188"]]},{"id":"fc1d472d.71d188","type":"delay","z":"978f71ec.849e9","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1000,"y":570,"wires":[["e6dac6c0.854928"]]},{"id":"e6dac6c0.854928","type":"api-call-service","z":"978f71ec.849e9","name":"toggle kitchen lights","server":"36ed18ec.ded2a8","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.sengled_lightstrip","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":820,"y":630,"wires":[["8a7d1f21.eaaa"]]},{"id":"8a7d1f21.eaaa","type":"delay","z":"978f71ec.849e9","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1000,"y":630,"wires":[["6d2fea03.a2db34"]]},{"id":"6d2fea03.a2db34","type":"api-call-service","z":"978f71ec.849e9","name":"toggle kitchen lights","server":"36ed18ec.ded2a8","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.sengled_lightstrip","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":820,"y":690,"wires":[["5449cf.0d4a663"]]},{"id":"5449cf.0d4a663","type":"delay","z":"978f71ec.849e9","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1000,"y":690,"wires":[["c77f0690.067cd8"]]},{"id":"c8b5d1ff.f0dca","type":"api-current-state","z":"978f71ec.849e9","name":"is someone in the bathroom?","server":"36ed18ec.ded2a8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.philips_bathroom_occupancy","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":710,"y":910,"wires":[["6fbca720.f8ca88"],[]]},{"id":"6fbca720.f8ca88","type":"api-call-service","z":"978f71ec.849e9","name":"toggle bathroom lights","server":"36ed18ec.ded2a8","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.bathroom_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":990,"wires":[["3076eb2f.cf25e4"]]},{"id":"3076eb2f.cf25e4","type":"delay","z":"978f71ec.849e9","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1010,"y":990,"wires":[["103a0aa0.d098e5"]]},{"id":"103a0aa0.d098e5","type":"api-call-service","z":"978f71ec.849e9","name":"toggle bathroom lights","server":"36ed18ec.ded2a8","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.bathroom_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":1050,"wires":[["a622b30d.36628"]]},{"id":"a622b30d.36628","type":"delay","z":"978f71ec.849e9","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1010,"y":1050,"wires":[["f6f4f281.e12b7"]]},{"id":"f6f4f281.e12b7","type":"api-call-service","z":"978f71ec.849e9","name":"toggle bathroom lights","server":"36ed18ec.ded2a8","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.bathroom_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":1110,"wires":[["b0f7d3c0.927c6"]]},{"id":"b0f7d3c0.927c6","type":"delay","z":"978f71ec.849e9","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1010,"y":1110,"wires":[["411bc0c.ff6904"]]},{"id":"de8fc931.3b06e8","type":"api-call-service","z":"978f71ec.849e9","name":"toggle bathroom lights","server":"36ed18ec.ded2a8","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.bathroom_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1230,"y":1220,"wires":[["ec8c4d99.44132"]]},{"id":"fe9bdb21.c951d8","type":"debug","z":"978f71ec.849e9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1430,"y":800,"wires":[]},{"id":"ec8c4d99.44132","type":"debug","z":"978f71ec.849e9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1440,"y":1220,"wires":[]},{"id":"23662cf9.7c2ca4","type":"api-call-service","z":"978f71ec.849e9","name":"toggle lightstrip","server":"36ed18ec.ded2a8","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.philips_lightstrip","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":660,"y":130,"wires":[["7d2c8b35.5a7fe4"]]},{"id":"734b9c6d.0f9cd4","type":"api-call-service","z":"978f71ec.849e9","name":"toggle lightstrip","server":"36ed18ec.ded2a8","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.philips_lightstrip","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":660,"y":190,"wires":[["11894be8.7af2d4"]]},{"id":"6f2b1f03.ef5b1","type":"api-call-service","z":"978f71ec.849e9","name":"toggle lightstrip","server":"36ed18ec.ded2a8","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.philips_lightstrip","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":660,"y":250,"wires":[["3a51e56a.3c7a8a"]]},{"id":"8ccba8ad.421908","type":"api-call-service","z":"978f71ec.849e9","name":"toggle lightstrip","server":"36ed18ec.ded2a8","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.philips_lightstrip","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":660,"y":310,"wires":[["5b49c4e1.c7b54c"]]},{"id":"d1578bd0.65d758","type":"debug","z":"978f71ec.849e9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1240,"y":140,"wires":[]},{"id":"8c4981a.4a5d38","type":"api-call-service","z":"978f71ec.849e9","name":"toggle lightstrip","server":"36ed18ec.ded2a8","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.philips_lightstrip","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":660,"y":380,"wires":[["2fe5349e.ca65dc"]]},{"id":"7d2c8b35.5a7fe4","type":"delay","z":"978f71ec.849e9","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":850,"y":130,"wires":[["734b9c6d.0f9cd4"]]},{"id":"11894be8.7af2d4","type":"delay","z":"978f71ec.849e9","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":850,"y":190,"wires":[["6f2b1f03.ef5b1"]]},{"id":"3a51e56a.3c7a8a","type":"delay","z":"978f71ec.849e9","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":850,"y":250,"wires":[["8ccba8ad.421908"]]},{"id":"5b49c4e1.c7b54c","type":"delay","z":"978f71ec.849e9","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":850,"y":310,"wires":[["8c4981a.4a5d38"]]},{"id":"2fe5349e.ca65dc","type":"delay","z":"978f71ec.849e9","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":850,"y":380,"wires":[["9ae02813.d95f08"]]},{"id":"9ae02813.d95f08","type":"api-call-service","z":"978f71ec.849e9","name":"toggle lightstrip","server":"36ed18ec.ded2a8","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.philips_lightstrip","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1050,"y":380,"wires":[["d1578bd0.65d758"]]},{"id":"c77f0690.067cd8","type":"api-call-service","z":"978f71ec.849e9","name":"toggle kitchen lights","server":"36ed18ec.ded2a8","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.sengled_lightstrip","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":820,"y":750,"wires":[["536a6de3.4cdca4"]]},{"id":"536a6de3.4cdca4","type":"delay","z":"978f71ec.849e9","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1000,"y":750,"wires":[["4698f979.caf688"]]},{"id":"4698f979.caf688","type":"api-call-service","z":"978f71ec.849e9","name":"toggle kitchen lights","server":"36ed18ec.ded2a8","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.sengled_lightstrip","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":820,"y":800,"wires":[["bbf4fc9.b01f"]]},{"id":"bbf4fc9.b01f","type":"delay","z":"978f71ec.849e9","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1000,"y":800,"wires":[["adfd48c4.ebf698"]]},{"id":"adfd48c4.ebf698","type":"api-call-service","z":"978f71ec.849e9","name":"toggle kitchen lights","server":"36ed18ec.ded2a8","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.sengled_lightstrip","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1210,"y":800,"wires":[["fe9bdb21.c951d8"]]},{"id":"411bc0c.ff6904","type":"api-call-service","z":"978f71ec.849e9","name":"toggle bathroom lights","server":"36ed18ec.ded2a8","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.bathroom_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":1170,"wires":[["7732cffd.1405d"]]},{"id":"7732cffd.1405d","type":"delay","z":"978f71ec.849e9","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1010,"y":1170,"wires":[["b773ed88.e9dbf"]]},{"id":"b773ed88.e9dbf","type":"api-call-service","z":"978f71ec.849e9","name":"toggle bathroom lights","server":"36ed18ec.ded2a8","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.bathroom_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":1220,"wires":[["de511a3c.425f68"]]},{"id":"de511a3c.425f68","type":"delay","z":"978f71ec.849e9","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1010,"y":1220,"wires":[["de8fc931.3b06e8"]]},{"id":"81744770.665348","type":"api-call-service","z":"eca88c98.19685","name":"Turn RED","server":"36ed18ec.ded2a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.philips_bulb_livingroom","data":"{\"brightness_pct\":100,\"rgb_color\":[255,0,0],\"transition\":1}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":810,"y":510,"wires":[["256ec5e1.12ad4a"]]},{"id":"b5a3e4c4.8a4098","type":"api-current-state","z":"eca88c98.19685","name":"proceed only if LIVING ROOM is already ON","server":"36ed18ec.ded2a8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.philips_bulb_livingroom","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":520,"y":510,"wires":[["81744770.665348"],[]]},{"id":"256ec5e1.12ad4a","type":"debug","z":"eca88c98.19685","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1030,"y":590,"wires":[]},{"id":"4ff438d6.806af8","type":"timecheck","z":"eca88c98.19685","name":"At 8:20PM","time":"20:20","x":180,"y":580,"wires":[["b5a3e4c4.8a4098","4674ae64.3925d","73259831.bcf8e8"],[]]},{"id":"650b775.713ba88","type":"comment","z":"eca88c98.19685","name":"Turn lights RED at NIGHT","info":"","x":140,"y":530,"wires":[]},{"id":"a0ae5ef2.1a358","type":"api-call-service","z":"eca88c98.19685","name":"Turn RED","server":"36ed18ec.ded2a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.philips_lightstrip","data":"{\"brightness_pct\":100,\"rgb_color\":[255,0,0],\"transition\":1}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":810,"y":570,"wires":[["256ec5e1.12ad4a"]]},{"id":"4674ae64.3925d","type":"api-current-state","z":"eca88c98.19685","name":"proceed only if LIGHTSTRIP is already ON","server":"36ed18ec.ded2a8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.philips_lightstrip","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":520,"y":570,"wires":[["a0ae5ef2.1a358"],[]]},{"id":"73259831.bcf8e8","type":"api-call-service","z":"eca88c98.19685","name":"\"Charge me\" phone notification","server":"36ed18ec.ded2a8","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_slyphone","entityId":"","data":"{\"message\":\"Charge me!\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":630,"wires":[["256ec5e1.12ad4a"]]},{"id":"8ef3b861.5d44f8","type":"sun events","z":"eca88c98.19685","testmode":false,"verbose":true,"topic":"sunsetStart","name":"Start of Sunset","x":160,"y":330,"wires":[["80b9a1c1.2887c","b7188c36.68946"]]},{"id":"80b9a1c1.2887c","type":"api-call-service","z":"eca88c98.19685","name":"Turn LIGHTSTRIP ON","server":"36ed18ec.ded2a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.philips_lightstrip","data":"{\"brightness_pct\":100,\"profile\":\"relax\",\"transition\":900}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":450,"y":310,"wires":[["f1f9b60d.78efa8"]]},{"id":"f1f9b60d.78efa8","type":"debug","z":"eca88c98.19685","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":730,"y":330,"wires":[]},{"id":"b7188c36.68946","type":"api-call-service","z":"eca88c98.19685","name":"Turn LIVING ROOM ON","server":"36ed18ec.ded2a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.philips_bulb_livingroom","data":"{\"brightness_pct\":100,\"profile\":\"relax\",\"transition\":900}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":460,"y":360,"wires":[["f1f9b60d.78efa8"]]},{"id":"fdc8e7b3.0d4ab8","type":"api-call-service","z":"eca88c98.19685","name":"Turn OFF (1hr transition)","server":"36ed18ec.ded2a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.philips_bulb_livingroom","data":"{\"transition\":3600}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":860,"y":790,"wires":[["6a9314c2.acb92c"]]},{"id":"f65050a7.a5e91","type":"api-current-state","z":"eca88c98.19685","name":"proceed only if LIVING ROOM is already ON","server":"36ed18ec.ded2a8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.philips_bulb_livingroom","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":520,"y":790,"wires":[["fdc8e7b3.0d4ab8"],[]]},{"id":"6a9314c2.acb92c","type":"debug","z":"eca88c98.19685","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1140,"y":890,"wires":[]},{"id":"420355be.3ebbec","type":"timecheck","z":"eca88c98.19685","name":"At 11:11PM","time":"23:11","x":180,"y":850,"wires":[["f65050a7.a5e91","b0ce60f.1aedfa","83f65ef2.2947a"],[]]},{"id":"c5538fdb.c2626","type":"comment","z":"eca88c98.19685","name":"Slowly turn lights OFF","info":"","x":150,"y":810,"wires":[]},{"id":"c94d929c.70c93","type":"api-call-service","z":"eca88c98.19685","name":"Turn OFF (1hr transition)","server":"36ed18ec.ded2a8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.philips_lightstrip","data":"{\"transition\":3600}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":860,"y":850,"wires":[["6a9314c2.acb92c"]]},{"id":"b0ce60f.1aedfa","type":"api-current-state","z":"eca88c98.19685","name":"proceed only if LIGHTSTRIP is already ON","server":"36ed18ec.ded2a8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.philips_lightstrip","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":520,"y":850,"wires":[["c94d929c.70c93"],[]]},{"id":"83f65ef2.2947a","type":"api-call-service","z":"eca88c98.19685","name":"\"Lights are shutting off\" phone notification","server":"36ed18ec.ded2a8","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_slyphone","entityId":"","data":"{\"message\":\"The lights are starting to shut off. Get ready for bed.\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":520,"y":910,"wires":[["6a9314c2.acb92c"]]},{"id":"e96b98c1.966f98","type":"api-call-service","z":"eca88c98.19685","name":"Set Nest to HEAT","server":"36ed18ec.ded2a8","version":1,"debugenabled":false,"service_domain":"climate","service":"set_hvac_mode","entityId":"climate.living_room_thermostat","data":"{\"hvac_mode\":\"heat\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":740,"y":110,"wires":[["6b550824.6f3988"]]},{"id":"5ab38b6a.1eb5f4","type":"api-current-state","z":"eca88c98.19685","name":"if MY ROOM temp < 70","server":"36ed18ec.ded2a8","version":1,"outputs":2,"halt_if":"70","halt_if_type":"num","halt_if_compare":"lt","override_topic":false,"entity_id":"sensor.samsung_button_temp","state_type":"num","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":460,"y":110,"wires":[["e96b98c1.966f98"],[]]},{"id":"d17336c5.8585e8","type":"debug","z":"eca88c98.19685","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1280,"y":110,"wires":[]},{"id":"f20388f3.94dd88","type":"timecheck","z":"eca88c98.19685","name":"At 6AM","time":"06:00","x":180,"y":140,"wires":[["5ab38b6a.1eb5f4"],[]]},{"id":"3b873e32.b39bc2","type":"comment","z":"eca88c98.19685","name":"Turn heater ON at 6AM","info":"","x":140,"y":90,"wires":[]},{"id":"6b550824.6f3988","type":"delay","z":"eca88c98.19685","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":920,"y":110,"wires":[["83a2096f.f6b358"]]},{"id":"83a2096f.f6b358","type":"api-call-service","z":"eca88c98.19685","name":"Set Nest to 73","server":"36ed18ec.ded2a8","version":1,"debugenabled":false,"service_domain":"climate","service":"set_temperature","entityId":"climate.living_room_thermostat","data":"{\"temperature\":73}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1090,"y":110,"wires":[["d17336c5.8585e8"]]},{"id":"8b40c3a7.428d","type":"comment","z":"eca88c98.19685","name":"Turn lights ON at SUNSET","info":"","x":130,"y":280,"wires":[]}]